@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Flight Booking System</h1>
    <p class="lead">Book your next flight with us!</p>
    <p><a href="@Url.Action("Search", "Flight")" class="btn btn-primary btn-lg">Search Flights</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at bibendum velit, sit amet scelerisque metus. Fusce sagittis, libero eu tristique tristique, felis arcu mollis felis, vitae volutpat tellus tellus quis nisl.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How It Works</h2>
        <p>1. Search for available flights based on your travel details.</p>
        <p>2. Select your desired flight and choose your cabin class.</p>
        <p>3. Enter your passenger information and review your booking details.</p>
        <p>4. Confirm your booking and make payment.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <address>
            <strong>Flight Booking System</strong><br>
            123 Main St<br>
            Anytown, USA 12345<br>
            <abbr title="Phone">P:</abbr> (555) 555-5555
        </address>
        <address>
            <strong>Email Us</strong><br>
            <a href="mailto:info@flightbookingsystem.com">info@flightbookingsystem.com</a>
        </address>
    </div>
</div>
