@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Fly India</h1>
    <p class="lead">Book your next flight with us!</p>
    <p><a href="@Url.Action("Search", "Flight")" class="btn btn-primary btn-lg">Search Flights</a></p>
</div>

